.note--container {
  z-index: 999;
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 4px;
  width: 350px;
  max-width: 98%;
  font-family: "Segoe UI", "Tahoma", "Calibri", "Verdana", sans-serif;
  color: #999;
  box-sizing: border-box;
}
.note {
  position: relative;
  fill: #fff;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.03);
  border-left: 4px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.05);
  opacity: 0;
  padding: 8px;
  animation: noteFadeOut cubic-bezier(0.23, -0.39, 0, 1.38) 0.5s;
}
.note.shown {
  animation: noteFadeIn cubic-bezier(0.23, -0.39, 0, 1.38) 1s;
  margin-bottom: 12px;
  min-height: 62px;
  opacity: 1;
}
.note.shown .note--close,
.note.shown .note--title,
.note.shown .note--body {
  display: block;
}
.note.note--info {
  background: #3498db;
}
.note.note--success {
  background: #2ecc71;
}
.note.note--warning {
  background: #ffdb70;
  color: rgba(0,0,0,0.7);
  fill: rgba(0,0,0,0.7);
}
.note.note--error {
  background: #ec4e4e;
}
.note .note--close {
  z-index: 9;
  position: absolute;
  top: 9px;
  right: 0;
  width: 16px;
  height: 16px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  fill: inherit;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s ease;
}
.note .note--close:hover {
  color: rgba(0,0,0,0.5);
  fill: rgba(0,0,0,0.5);
}
.note .note--close svg {
  cursor: pointer;
  width: 14px;
}
.note .note--close svg path {
  fill: inherit;
}
.note .note--title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  color: inherit;
  opacity: 0.9;
}
.note .note--title svg {
  margin-right: 4px;
  line-height: 20px;
  width: 17px;
  height: 17px;
}
.note .note--body {
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  margin: 0.5em 0;
}
@-moz-keyframes noteFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes noteFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes noteFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes noteFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes noteFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes noteFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes noteFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes noteFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
